name: Publish to PyPI

on:
  workflow_dispatch:
  push:
    tags:
      - '*'
    paths:
      - 'src/**'
      - 'setup.py'
      - 'setup.cfg'
      - 'requirements.txt'
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - config-file: "setup.cfg"
            pypi-token: "PYPI_API_TOKEN_DEFAULT"
          - config-file: "setup_browser.cfg"
            pypi-token: "PYPI_API_TOKEN_BROWSER"
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools setuptools_scm wheel twine build

      - name: Replace setup.cfg with the desired configuration
        run: cp ${{ matrix.config-file }} setup.cfg

      - name: Build the package
        run: python -m build

      - name: Publish package to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets[matrix.pypi-token] }}
        run: |
          twine upload dist/*